body {
  background-color: lightblue;
  text-align: center;
  background-image: url("../img/numbers.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Dosis', sans-serif;
}

h1 {
  font-size: 5em;
}

.content {
  margin-top: 25px;
}

.well {
  background-color: #111111dd;
  color: lightblue;
  border-width: 0px;
}

button {
  width: 30em;
}